/Interface1.class
/Interface2.class
/Interface3.class
/TempsReel.class
/MainFrame.class
/MainFrame$1.class
/TempsReel$1.class
/Analyse.class
/CurveCanvas.class
/CurveCanvas$1.class
/CurveTracer.class
/CurveCanvas$CurveFunction.class
/CaptorManage.class
/CaptorManage$1.class
